<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header') %></header>
    <div class="container pt-5">
      <form action="/projects/" method="post" enctype="multipart/form-data">
        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" name="upload" />
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label"> Choose a file… </span>
            </span>
          </label>
        </div>
        <div class="field">
          <label class="label">Счет</label>
          <div class="control">
            <div class="select">
              <select name="accountId">
                <% accounts.forEach(account => {%>
                <option value="<%- account._id %>">
                  <%= account.fireflyAccount.name %>
                </option>
                <% }); %>
              </select>
            </div>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link">Отправить</button>
          </div>
          <div class="control">
            <button type="reset" class="button is-link is-light">
              Очистить
            </button>
          </div>
        </div>
      </form>
      <% projects.forEach(project => {%>
      <p><%=project._id%></p>
      <%});%>
    </div>
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
